mceb2022Pres/
fasta.nosync/
log
scratch/
trees
xml
*.RData
*.fasta
*.log
*.trees
*.state
**/clustersForLeo
**/empiricalAnalyses/oldTemplates
*.csv
**/.DS_store
**/sebHelp.nosync
**/empiricalAnalyses/vicCovid/getGammaSubstModel.xml
**/empiricalAnalyses/figsEmpirical.R
**/empiricalAnalyses/exploreCovidDatasets.R
*.docx
